@font-face {
	font-family: AgencyFB;
	src: url(../fonts/Agency_FB.ttf);
}

body {
	position: relative;
	font-size: 13px;
	color: rgb(218, 165, 32);
	padding-top: 50px;
}

p {
	padding: 10px;
}

#wrapper {
	font-family: AgencyFB;
}

.navbar {
	border-left: 0px;
}

.navbar-header {
	font-family: AgencyFB;
	color: rgb(218, 165, 32);
}

.f-nav {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgb(0, 0, 0);
	font-weight: bold;
	font-family: AgencyFB;
	color: rgb(218, 165, 32);
}

.activeNav {
	background-color: rgb(255, 255, 255);
}

#section0, #section1, #section2, #section3, #section5 {
	background-color: rgb(128, 0, 32);
	border-bottom: 1px dotted rgb(0, 0, 0);
	transition: opacity 5s;
}

#section4 {
	height: 10px;
}

#logohead {
	margin-left: 45%;
}

.page {
	height: 75vh;
	color: #fff;
}

/*
.page:nth-child(n+1):nth-child(-n+3):after {
	content: "";
	width: 128px;
	height: 128px;
	background: url("../images/logo-black.png");
	position: absolute;
	bottom: -60px;
	left: 45%;
	display: inline-block;
	z-index: 3;
}
*/

.socmed {
	float: left;
}

/* Extra small devices (phones) */
@media screen and (max-width: 768px) {
	.navbar-header, #nav0, #nav1, #nav2, #nav3 {
		width: 100%;
		text-align: center;
		border: 1px solid white;
	}	
}

/* Small devices (tablets) */
@media screen and (min-width: 768px) {
	.navbar-header, #nav0, #nav1, #nav2, #nav3 {
		width: 100%;
		text-align: center;
		border: 1px solid white;
	}	
}

/* Medium devices (desktops) */
@media screen and (min-width: 992px) {
	.navbar-header, #nav0, #nav1, #nav2, #nav3 {
		width: 100%;
		text-align: center;
	}
}

/* Large devices (large desktops) */
@media screen and (min-width: 1200px) {
		
}